;; deps.edn
{:paths ["src/app"
         "classes"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}}
 :aliases {:uberjar {:extra-deps {uberdeps {:mvn/version "0.1.10"}}
                     :main-opts ["-m " "uberdeps.uberjar"]}}}
